.login-head{
	width: 100%;
	margin-top: 200upx;
	text-align: center;
}

.login-box {
  width: 100%;
  margin-top: 66upx;
	text-align: center;
}


.login-btn{
	width: 88%;
	height: 88upx;
	background-color: #294D7D !important;
	border-radius: 44upx !important;
	color: #fff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}


.account-login-btn {
	width: 88%;
	height: 88upx !important;
	background-color: #fff !important;
	color: #294D7D !important;
	border-radius: 44upx !important;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
